/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

body {
	padding: 0;
	margin: 0;
	font-family: 'Hind Vadodara', sans-serif;
	background: #fff;
	position: relative;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"],
.contact-form input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Exo 2', sans-serif;
}

p {
	margin: 0;
	font-family: 'Hind Vadodara', sans-serif;
	letter-spacing: 1px;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}


/* -- navigation --*/

.w3l_header_left {
	float: left;
	margin: .3em 0 0;
}

.w3l_header_left ul li {
	display: inline-block;
	margin-right: 2em;
	font-size: 14px;
	color: #fff;
}

.w3l_header_left ul li span {
	padding-right: 1em;
}

.w3l_header_left ul li a {
	color: #fff;
	text-decoration: none;
}

.w3l_header_left ul li a:hover {
	color: #999;
}

.w3l_header_right {
	float: right;
}


/*-- social-icons --*/

.w3ls-social-icons i {
	font-size: 15px;
	background: #22e27d;
	color: #fff;
	border: 1px solid #eee;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 31px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.w3ls-social-icons i:hover {
	background: transparent;
	color: #fff;
	border: 1px solid #22e27d;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}


/*-- //social-icons --*/


/*-- nav-effect --*/

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	/*-- w3layouts --*/
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after,
.navbar-nav li.active a::before,
.navbar-nav li.active a::after,
.navbar-nav li.active a:focus::before,
.navbar-nav li.active a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


/*-- //nav-effect --*/

.header {
	padding: 1em 0;
	background: #111;
}

.navbar-default {
	background: none;
	border: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-collapse {
	padding: 0;
	box-shadow: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: none;
}

.navbar-nav {
	float: right;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #111;
	padding: 11px 0px !important;
}

.navbar-brand {
	font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a {
	color: #111;
}


/*-- agileits --*/

.navbar-brand span {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	display: inline-block;
	color: #22e27d;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: none;
	color: #22e27d;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #22e27d;
}

.navbar-nav>li>a {
	font-size: 14px;
	text-transform: uppercase;
	padding: 20px 10px 0;
}

.header-bottom {
	position: relative;
	padding: 1em 0;
}


/*-- search --*/

.cd-main-header {
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.cd-main-header {
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cd-main-content.nav-is-visible,
.cd-main-header.nav-is-visible {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}

.nav-on-left .cd-main-content.nav-is-visible,
.nav-on-left .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(260px);
	/*-- w3layouts --*/
	-moz-transform: translateX(260px);
	-ms-transform: translateX(260px);
	-o-transform: translateX(260px);
	transform: translateX(260px);
}

.cd-header-buttons {
	position: absolute;
	display: inline-block;
	top: -55px;
	right: 0;
}

.cd-header-buttons li {
	display: inline-block;
}


/*-- //header --*/


/*-- //Top-Bar --*/

.w3-icon {
	float: left;
}

.slider-info {
	position: absolute;
	top: 24%;
	left: 22%;
	z-index: 999;
	text-align: center;
	width: 57%;
}

.slider-info h3 {
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	background: rgba(34, 226, 125, 0.04);
	width: 100%;
	margin: 0 auto;
	padding: 4.5em 0em;
	font-weight: 300;
	letter-spacing: 5px;
	border: 1px solid #fff;
	position: relative;
}

h5 a.view.rew3 {
	color: #22e27d;
	background: #fff;
	padding: 1.1em 0em;
	width: 33%;
	display: inline-block;
	font-size: 1.1em;
	letter-spacing: 1px;
	border-top: 5px solid #111;
	position: absolute;
	bottom: -12%;
	left: 33%;
}


/* --//navigation --*/


/*-- //Top-Bar --*/


/*-- Slider --*/

#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0, 0, 0, .25);
	box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}

.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: rgba(255, 255, 255, .1);
	color: #fff;
	font-weight: bold;
}

.events {
	list-style: none;
}

.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}

.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}

.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 43%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 67px;
	width: 56px;
	background: url("../images/left-arrow.png") no-repeat 0px 0px;
}

.callbacks_nav.next {
	left: auto;
	background: url("../images/right-arrow.png") no-repeat 0px 0px;
	right: 0;
}

.callbacks_nav:active {
	opacity: 1.0;
}

.callbacks2_nav:active {
	opacity: 1.0;
}

#slider-pager a {
	display: inline-block;
}

#slider-pager span {
	float: left;
}

#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}

#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}

#slider-pager a {
	padding: 0;
}

#slider-pager li {
	display: inline-block;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0%;
	top: 0;
	width: 100%;
}

.rslides li {
	position: relative;
	display: block;
	float: none;
}

.rslides img {
	height: auto;
	border: 0;
}

.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 80.5%;
	z-index: 999;
	left: 44.5%;
	padding: 0em 0.6em 1em 0.3em;
	margin: 0;
	display: none;
}

.callbacks_tabs li {
	display: none;
	margin: 0.5em;
}

.callbacks_tabs a {
	visibility: hidden;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	width: 0;
	height: 0;
	display: inline-block;
	background: #fff;
	border: none;
	border-radius: 50%;
}

.callbacks_here a:after {
	background: #1ca0de;
}


/*-- //Slider --*/


/*-- Baneer-bottom --*/

.agileits_service_grid_btm_left1 {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.agileits_service_grid_btm_left1:before {
	bottom: 0;
	right: 0;
	border-bottom: 3px solid #22e27d;
	border-right: 3px solid #22e27d;
}

.agileits_service_grid_btm_left1:after,
.agileits_service_grid_btm_left1:before {
	content: '';
	z-index: 2;
	width: 0;
	height: 0;
	visibility: hidden;
	position: absolute;
	-webkit-transition: all 800ms ease-in-out;
	-moz-transition: all 800ms ease-in-out;
	-ms-transition: all 800ms ease-in-out;
	-o-transition: all 800ms ease-in-out;
	transition: all 800ms ease-in-out;
}

.agileits_service_grid_btm_left1:after {
	top: 0;
	left: 0;
	border-top: 3px solid #22e27d;
	border-left: 3px solid #22e27d;
}

.agileits_service_grid_btm_left1:hover:after,
.agileits_service_grid_btm_left1:hover:before {
	width: 100%;
	height: 100%;
	visibility: visible;
}

.agileits_service_grid_btm_left2 h5 {
	margin: 0em 0 .5em;
	color: #111;
	font-size: 1.5em;
	text-transform: capitalize;
}

.agileits_service_grid_btm_left2 p {
	color: #777;
	line-height: 1.9em;
	font-size: 1em;
}

.agileits_service_grid_btm_left2 {
	padding: 2em 1em;
	border: 3px solid #C8B6B6;
	border-top: none;
	background: #fff;
}

.agileits_service_grid_btm_left1:hover {
	cursor: default;
}

.Main-agile {
	position: relative;
}

.agileits_services_grids_bottom {
	position: absolute;
	bottom: -35%;
	z-index: 999;
	left: 13%;
	margin-bottom: 1em;
}


/*-- //Baneer-bottom --*/


/*-- About --*/

.content-agileits {
	padding-bottom: 5em;
	margin-top: 26em;
}

h2.w3-abo,
h3.ser-w3,
h3.blo-w3,
.agileits-title h3,
h3.title-w3,
.contact-top h3 {
	font-size: 2.5em;
	color: #22e27d;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2em;
}

.wel-grid h4 {
	font-size: 2em;
	color: #111;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-bottom: 0.5em;
}

.wel-grid p {
	font-size: 1em;
	line-height: 1.9em;
	padding-top: 1em;
	color: #777;
}


/*-- effect-7 css --*/

.text-desc {
	position: absolute;
	left: 0;
	top: 0;
	background: #22e27d;
	height: 100%;
	opacity: 0;
	width: 100%;
	padding: 20px;
}

.port-7 {
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 5px solid rgba(255, 255, 255, 0.9);
	overflow: hidden;
	box-shadow: 0px 0px 12px 0px #969696;
}

.port-7 .text-desc {
	opacity: 0;
	transition: 0.5s;
	color: #000;
}

.port-7.effect-2 img {
	transition: 0.5s;
	position: relative;
	width: 100%;
	top: 0;
}

.port-7.effect-2:hover img {
	top: 50%;
}

.port-7.effect-2 .text-desc {
	transform: perspective(600px) rotateX(90deg);
	transform-origin: top center 0;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 50%;
	padding: 32px 10px 0;
}

.port-7.effect-2:hover .text-desc {
	opacity: 1;
	transform: perspective(600px) rotateX(0deg);
	z-index: 99;
}

.text-desc h4 {
	color: #fff;
	font-size: 1.8em;
	margin-bottom: 0.5em;
}

.text-desc p {
	font-size: 1em;
	color: #fff;
	line-height: 1.8em;
}


/*-- //About--*/


/*-- Services --*/

.popular-w3 {
	/* background: url(../images/bgser.jpg)no-repeat fixed;
	background-size: cover; */
	min-height: 400px;
}

.popular-w3,
.special,
.portfolio,
.team-w3l,
.contact {
	padding: 5em 0;
}

.popular-grid {
	padding: 0 !important;
	/* background: #eee; */
}

.popular-text i {
	font-size: 3.5em;
	margin-top: 0.8em;
	color: #2baf2b;
}

.popular-text {
	text-align: center;
}

.popular-grid:hover img {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.popular-grid img {
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.popular-grid h5 {
	font-size: 1.6em;
	color: #111;
	padding: 1em 2em 0em;
	line-height: 1.4em;
}


/* .popular-grid .sec h5 {
	color: #fff;
} */

.popular-grid p {
	font-size: 1em;
	line-height: 1.9em;
	padding: 1em 1em 2em;
	color: #777;
}


/* .popular-grid:nth-child(2) {
    margin-top: 6em;
	background:#22e27d;
}
.popular-grid:nth-child(3) {
    margin-top: 2em;
} */


/*-- //Services --*/


/*-- Blogs --*/

#news {
	background: #f5f5f5;
}

h3.tittle,
h2.w3l-inner-h-title,
h3.w3l-inner-h-title {
	color: #e83f3f;
	font-size: 2.5em;
	margin: 0;
	text-align: center;
	font-weight: 600;
	letter-spacing: 3px;
}

h2.w3l-inner-h-title,
h3.w3l-inner-h-title {
	margin-bottom: 1em;
}

h3.tittle.two {
	color: #fff;
}

.special-grids {
	margin: 3em 0 0 0;
}

.w3l-special-grid {
	padding: 0;
}

.w3ls-special-img img {
	width: 100%;
}

.agileits-special-info {
	text-align: center;
	padding: 2em 1.3em 2em;
	background: #F5F5F5;
}

.agileits-special-info h4 a {
	color: #111;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.agileits-special-info p {
	color: #777;
	font-size: 0.9em;
	line-height: 1.9em;
	margin: 1.5em 0 0 0;
}

.w3ls-special-img {
	padding: 0;
	background: #000 url(../images/b1.jpg) no-repeat 0px 0px;
	min-height: 235px;
	background-size: cover;
	text-align: center;
	position: relative;
}

.wthree-img1 {
	background: #000 url(../images/b4.jpg) no-repeat 0px 0px;
	background-size: cover;
}

.wthree-img2 {
	background: #000 url(../images/b2.jpg) no-repeat 0px 0px;
	background-size: cover;
}

.wthree-img3 {
	background: #000 url(../images/b3.jpg) no-repeat 0px 0px;
	background-size: cover;
}

.w3ls-special-text h4 {
	color: #FFF;
	font-size: 1.8em;
	margin: 4em 0 0 0;
	font-weight: 300;
	letter-spacing: 2px;
}


/*-- Effect 1--*/

.w3ls-special-text:after {
	position: absolute;
	width: 235px;
	height: 186px;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.effect-1 {
	-webkit-transition: background 0.5s, color 0.2s;
	-moz-transition: background 0.5s, color 0.2s;
	transition: background 0.5s, color 0.2s;
}

.effect-1:after {
	top: 25px;
	left: 25px;
	box-shadow: 0 0 0 2px #FFFFFF;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
	-webkit-transform: scale(0.8);
	-moz-transition: -moz-transform 0.5s, opacity 0.2s;
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transition: transform 0.5s, opacity 0.2s;
	transform: scale(0.8);
	opacity: 0;
}

.w3ls-special-img:hover.w3ls-special-text {
	background: #FF7200;
	color: #fff !important;
}

.w3ls-special-img:hover .w3ls-special-text:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


/*--//Effect 1--*/

.view {
	font-size: 1em;
	color: #fff;
	background: #22e27d;
	padding: 9px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	margin-top: 1em;
	display: inline-block;
	width: 41%;
}

a.view:hover {
	background: #111;
	color: #fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.modal-header h4 {
	color: #111;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.modal-header h5 {
	color: #22e27d;
	font-size: 1.3em;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 1em;
}

.modal-header span {
	font-size: 1.1em;
	color: #777;
	letter-spacing: 2px;
	line-height: 33px;
	padding-bottom: 16px;
	display: inline-block;
	margin-top: 1em;
}

.modal-header img {
	float: left;
	width: 100%;
}


/*-- //blogs--*/


/*--team--*/

.team-grids {
	margin: 4em 0 1em 0;
}

.team-grid:nth-child(4),
.team-grid:nth-child(5),
.team-grid:nth-child(6) {
	margin: 4em 0 0 0;
}

.team-block {
	text-align: center;
}

.team-block h4 {
	margin: 11px 0;
	font-size: 22px;
}

.team-block .team-text {
	font-size: 16px;
	color: rgb(94, 94, 94);
}

.ih-item.circle {
	position: relative;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	margin: 0 auto;
}

.ih-item.circle .img {
	position: relative;
	width: 220px;
	height: 220px;
	border-radius: 50%;
}

.ih-item.circle .img:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.ih-item.circle .img img {
	border-radius: 50%;
	width: 100%;
}

.ih-item.circle .info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ih-item.circle.effect10 .img {
	z-index: 11;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect10.colored .info {
	background: #1a4a72;
}

.ih-item.circle.effect10 .info {
	background: #22e27d;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.ih-item.circle.effect10 .info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ih-item.circle.effect10 .info p {
	color: #bbb;
	font-style: italic;
	font-size: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.ih-item.circle.effect10:hover .info {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.ih-item.circle.effect10.top_to_bottom .info h3 {
	margin: 0 30px;
	padding: 25px 0 0 0;
	height: 78px;
}

.ih-item.circle.effect10.top_to_bottom .info p {
	margin: 0 30px;
	padding: 5px;
}

.ih-item.circle.effect10.top_to_bottom:hover .img {
	-webkit-transform: translateY(50px) scale(0.5);
	-moz-transform: translateY(50px) scale(0.5);
	-ms-transform: translateY(50px) scale(0.5);
	-o-transform: translateY(50px) scale(0.5);
	transform: translateY(50px) scale(0.5);
}

.ih-item.circle.effect10.bottom_to_top .info h3 {
	margin: 7.5em 0 1em 0;
	font-size: 1.2em;
	color: #FFF;
	letter-spacing: 2px;
}

.ih-item.circle.effect10.bottom_to_top .info p {
	margin: 0 30px;
	padding: 5px;
}

.ih-item.circle.effect10.bottom_to_top:hover .img {
	-webkit-transform: translateY(-50px) scale(0.5);
	-moz-transform: translateY(-50px) scale(0.5);
	-ms-transform: translateY(-50px) scale(0.5);
	-o-transform: translateY(-50px) scale(0.5);
	transform: translateY(-50px) scale(0.5);
}

.icons ul {
	padding: 0;
	margin: 0;
}

.icons ul li {
	display: inline-block;
}

.icons ul li.team-twitter {
	margin: 0 1em;
}

.icons ul li a {
	color: #FFFFFF;
	text-align: center;
}

.icons ul li a:hover {
	opacity: .5;
}

.center-container {
	padding-bottom: 70px;
	background: rgb(246, 246, 246)
}


/*-- //team --*/


/*--portfolio--*/

.portfolio-grids {
	padding: 0;
}


/*--SAP--*/

.sap_tabs {
	clear: both;
	padding: 0;
	text-align: center;
	margin-top: 3em;
}

.tab_box {
	background: #fd926d;
	padding: 2em;
}

.top1 {
	margin-top: 2%;
}

.resp-tabs-list {
	list-style: none;
	padding: 0;
	margin: 0 auto 3em;
	text-align: center;
	display: inline-block;
}

.resp-tab-item {
	color: #111;
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
	display: inline-block;
	margin-left: 1em;
	text-align: center;
	list-style: none;
	outline: none;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	padding: 0.6em 1.6em;
	border: 1px solid #555;
	float: left;
}

.resp-tab-active,
.resp-tab-item:hover {
	text-shadow: none;
	color: #FFFFFF;
	background: #22e27d;
}

.resp-tabs-container {
	padding: 0px;
	clear: left;
}

h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}

.resp-tab-content {
	display: none;
}

.resp-content-active,
.resp-accordion-active {
	display: block;
}

.tab_img {
	padding: 2em 0 0;
	display: block;
}

.portfolio-grids img.img-responsive {
	width: 100%;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

.gallery-grid {
	transition: .5s all;
	overflow: hidden;
	cursor: pointer;
}

.gallery-grid:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}


/*--//portfolio--*/


/*-- Contact --*/

.contact {
	padding: 100px 0;
	background: #000;
	color: #fff;
}

.contact h3 {
	text-transform: uppercase;
}

.contact ul {
	list-style: none;
	padding: 17px 0;
}

.contact li {
	padding: 5px 0;
}

.contact-block1 {
	float: left;
	width: 50%;
}

.contact-top h3 {
	margin-bottom: 0.5em;
}

.contact-top p {
	font-size: 1em;
	color: #fff;
	width: 69%;
	margin: 0em auto 4em;
	line-height: 1.9;
	text-align: center;
}

.contact-block-left input[type="text"],
.contact-block-left input[type="email"],
.contact-block-left textarea {
	font-size: 1em;
	color: #111;
	width: 100%;
	margin: 0% 0% 2% 0%;
	padding: 1em 1em;
	outline: none;
	border: 1px solid #111;
}

.contact-block-left input.subject {
	width: 100%;
}

.contact-block-left textarea {
	width: 100%;
	height: 13em;
}

.contact-block-left input[type="submit"] {
	background: #22e27d;
	color: #fff;
	font-size: 1em;
	width: 100%;
	border: none;
	padding: 1em 0;
	outline: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
	display: inherit;
}

.contact-block-left input[type="submit"]:hover {
	background: #fff;
	color: #111;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.contact-map iframe {
	width: 100%;
	height: 328px;
	border: none;
}


/*--tab-4--*/

.social-w3 {
	float: right;
	width: 50%;
	text-align: center;
}

.main ul li {
	width: 40%;
	display: inline-block;
	color: #fff;
	padding: 2.1em 0em;
	text-align: center;
	margin: 0em 0.5em 0.5em 0em;
}

.main ul li.f1 {
	background: #3b5998;
}

.main ul li.f2 {
	background: #db3236;
}

.main ul li.f3 {
	background: #1dcaff;
}

.main ul li.f4 {
	background: #0077B5;
}

.main ul li.f5 {
	background: #ea4c89;
	width: 81.5%;
}


/* Grow */

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	font-size: 2em;
}

.hvr-grow i.fa {
	color: #fff;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


/*--//tab-4--*/


/*-- Contact --*/


/*-- //main --*/


/*--//footer--*/

.footer-w3l p {
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	color: #fff;
	letter-spacing: 2px;
}

.footer-w3l p a {
	color: #22e27d;
	text-decoration: none;
}

.footer-w3l p a:hover {
	color: #fff;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.footer-w3l {
	background: #111;
	padding: 1em;
}


/*-- bottom-to-top --*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999;
	width: 64px;
	height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow-up.png") no-repeat 0px 0px;
}

#toTopHover {
	width: 64px;
	height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}


/*-- //bottom-to-top --*/


/*--responsive--*/

@media(max-width: 1680px) {
	.agileits_services_grids_bottom {
		bottom: -33%;
	}
	.slider-info {
		top: 26%;
	}
}

@media(max-width: 1600px) {
	.agileits_services_grids_bottom {
		bottom: -35%;
	}
	.slider-info {
		top: 24%;
	}
}

@media(max-width: 1440px) {
	.slider-info {
		top: 23%;
		left: 21%;
		width: 59%;
	}
	.agileits_services_grids_bottom {
		bottom: -38%;
		left: 9.5%;
	}
}

@media(max-width: 1366px) {
	.header-bottom {
		padding: 0.8em 0;
	}
	.navbar-brand {
		font-size: 1.4em;
	}
	.slider-info {
		top: 21%;
	}
	.agileits_services_grids_bottom {
		bottom: -39.5%;
		left: 7%;
	}
}

@media(max-width: 1280px) {
	.slider-info h3 {
		font-size: 1.9em;
		width: 100%;
	}
	.slider-info {
		top: 19%;
		left: 21.5%;
	}
	.agileits_services_grids_bottom {
		bottom: -42%;
		left: 4%;
	}
}

@media(max-width: 1080px) {
	.slider-info {
		top: 20%;
		left: 17%;
		width: 63%;
	}
	.slider-info h3 {
		padding: 4em 0em;
	}
	.agileits_services_grids_bottom {
		bottom: -49%;
		left: 4%;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 2.4em;
		margin-bottom: 1.5em;
	}
	.wel-grid h4 {
		font-size: 1.8em;
		margin-bottom: 0.1em;
	}
	.wel-grid p {
		padding-top: 0.5em;
	}
	.popular-w3,
	.special,
	.portfolio,
	.team-w3l,
	.contact {
		padding: 4em 0;
	}
	.popular-grid h5 {
		font-size: 1.5em;
	}
	.content-agileits {
		padding-bottom: 4em;
		margin-top: 25em;
	}
	.agileits-special-info h4 a {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.view {
		width: 45%;
	}
	.w3ls-special-text:after {
		width: 195px;
		height: 191px;
	}
	.effect-1:after {
		top: 22px;
		left: 22px;
	}
	.contact-block-left textarea {
		height: 13.5em;
	}
}

@media(max-width: 1050px) {
	.w3l_header_left ul li span {
		padding-right: 0.8em;
	}
	.slider-info h3 {
		font-size: 1.8em;
	}
	.slider-info {
		top: 19%;
		left: 18%;
	}
	.agileits_services_grids_bottom {
		bottom: -50%;
		left: 3.5%;
	}
	.agileits_service_grid_btm_left2 {
		padding: 2em 0.8em;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 2.3em;
	}
}

@media(max-width: 1024px) {
	.slider-info {
		top: 16%;
	}
	.agileits_services_grids_bottom {
		bottom: -48%;
		left: 2%;
	}
	.view {
		margin-top: 1.6em;
	}
	.wel-grid h4 {
		font-size: 1.75em;
	}
}

@media(max-width: 991px) {
	.agileits_service_grid_btm_left {
		float: left;
		width: 25%;
		margin: 0 !important;
		padding: 0px 4px;
	}
	.agileits_services_grids_bottom {
		bottom: -45%;
		left: 11%;
	}
	.navbar-nav>li>a {
		padding: 20px 1px 0;
	}
	.slider-info h3 {
		font-size: 1.7em;
		padding: 3.85em 0em;
	}
	h5 a.view.rew3 {
		padding: 1em 0em;
		font-size: 1em;
	}
	.agileits_service_grid_btm_left2 {
		padding: 1em 0.4em;
	}
	.agileits_service_grid_btm_left2 h5 {
		font-size: 1.45em;
	}
	.slider-info {
		top: 18%;
		width: 65%;
		left: 17.5%;
	}
	.content-agileits {
		padding-bottom: 4em;
		margin-top: 22em;
	}
	.wel-grid {
		margin-top: 3em;
	}
	.port-7.effect-2 .text-desc {
		height: 41%;
	}
	.text-desc h4 {
		font-size: 2.5em;
		margin: 0.5em;
	}
	.wel-grid h4 {
		margin-bottom: 0.4em;
	}
	.wel-grid p {
		padding-top: 1em;
	}
	.popular-grid img {
		width: 100%;
	}
	.popular-grid {
		float: left;
		width: 33%;
	}
	.popular-grid h5 {
		font-size: 1.45em;
		padding: 1em 0.3em 0em;
	}
	.popular-grid p {
		padding: 1em 0em 1.5em;
	}
	.w3l-special-grid {
		padding: 0;
		float: left;
		width: 50%;
	}
	.w3ls-special-text:after {
		pointer-events: none;
		position: absolute;
		width: 184px;
		height: 186px;
	}
	.w3l-special-grid {
		padding: 0;
		float: left;
		width: 50%;
	}
	.w3ls-special-text h4 {
		font-size: 1.5em;
		margin: 0;
		font-weight: 300;
		padding-top: 4em;
	}
	.section-grid-wthree {
		padding: 0 7px;
		float: left;
		width: 50%;
	}
	.section-grid-wthree:nth-child(3) {
		margin-top: 2em;
	}
	.w3ls-special-text:after {
		position: absolute;
		width: 310px;
		height: 186px;
	}
	.agileits-special-info {
		padding: 3em 1.3em 3em;
	}
	.portfolio-grids {
		float: left;
		width: 33%;
	}
	.contact-top p {
		width: 96%;
	}
	.main ul li {
		width: 42%;
		padding: 1.9em 0em;
	}
	.main ul li.f5 {
		width: 86.5%;
	}
	.contact-block-left textarea {
		height: 12.8em;
	}
	.contact-top p {
		margin: 0em auto 2em;
	}
}

@media(max-width: 800px) {
	.slider-info h3 {
		font-size: 1.5em;
		padding: 3.5em 0em;
	}
	.agileits_services_grids_bottom {
		bottom: -54%;
		left: 3%;
	}
}

@media(max-width: 768px) {
	.navbar-brand {
		font-size: 1.3em;
	}
	.header-bottom {
		padding: 0.6em 0;
	}
	.slider-info h3 {
		font-size: 1.4em;
	}
	h5 a.view.rew3 {
		padding: 0.9em 0em;
		font-size: 0.9em;
	}
	.agileits_services_grids_bottom {
		bottom: -56%;
		left: 0%;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 2.2em;
	}
	.text-desc h4 {
		font-size: 2.4em;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		margin-bottom: 1em;
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
		border-color: #212121;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #111;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-nav {
		margin: 0;
		text-align: center;
		float: none;
		background: #f5f5f5;
		padding-bottom: 1em;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: #e7e7e7;
		position: absolute;
		width: 100%;
		padding: 0;
		background: #000;
		z-index: 9999;
		margin: 1em 0 0;
	}
	.cl-effect-1 a::before {
		margin-right: 10px;
	}
	.cl-effect-1 a::after {
		margin-left: 10px;
	}
}

@media(max-width: 736px) {
	.agileits_service_grid_btm_left {
		width: 50%;
	}
	.agileits_service_grid_btm_left:nth-child(3),
	.agileits_service_grid_btm_left:nth-child(4) {
		margin-top: 2em !important;
		;
	}
	.agileits_services_grids_bottom {
		bottom: -146%;
		left: 0%;
	}
	.content-agileits {
		margin-top: 54em;
	}
	.team-grid {
		margin: 0 auto 110px;
		text-align: center;
	}
	.team-grid:nth-child(3) {
		margin-bottom: 10px;
	}
	/* .team-grid:nth-child(3),
	.team-grid:nth-child(4),
	.team-grid:nth-child(5),
	.team-grid:nth-child(6) {
		margin: 2.5em 0 0 0;
	} */
}

@media(max-width: 667px) {
	.slider-info {
		top: 15%;
		width: 70%;
		left: 13.5%;
	}
	.agileits_services_grids_bottom {
		bottom: -148%;
	}
	.content-agileits {
		margin-top: 50em;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 2.1em;
	}
	.popular-grid h5 {
		font-size: 1.3em;
	}
	.popular-grid p {
		font-size: 0.95em;
	}
	.popular-w3,
	.special,
	.portfolio,
	.team-w3l,
	.contact {
		padding: 3em 0;
	}
	.content-agileits {
		padding-bottom: 3em;
	}
	.w3ls-special-text:after {
		width: 268px;
	}
	.agileits-special-info h4 a {
		font-size: 1.3em;
	}
	.special-grids {
		margin: 0em 0 0 0;
	}
	.team-grids {
		margin: 3em 0 1em 0;
	}
	.sap_tabs {
		margin-top: 1em;
	}
	.resp-tabs-list {
		margin: 0 auto 2em;
	}
	.contact-top p {
		width: 100%;
		font-size: 0.95em;
	}
	.hvr-grow {
		font-size: 1.7em;
	}
	.contact-block-left textarea {
		height: 11.4em;
	}
}

@media(max-width: 640px) {
	.slider-info h3 {
		font-size: 1.3em;
	}
	.content-agileits {
		margin-top: 48em;
	}
	.popular-grid {
		width: 100%;
	}
	.popular-grid h5 {
		font-size: 1.55em;
		padding: 1.5em 0.3em 0em;
	}
	.popular-grid p {
		padding: 1.5em 0em 3em;
	}
	/* .popular-grid:nth-child(2),
	.popular-grid:nth-child(3) {
		margin-top: 3em;
	} */
}

@media(max-width: 600px) {
	.agileits_service_grid_btm_left {
		padding: 0px 8px;
	}
	.agileits_services_grids_bottom {
		bottom: -159%;
	}
	.slider-info h3 {
		font-size: 1.2em;
	}
	.content-agileits {
		margin-top: 49em;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 2em;
	}
	.wel-grid h4 {
		margin-bottom: 0.1em;
		font-size: 1.65em;
	}
	.w3ls-special-text:after {
		width: 236px;
		height: 192px;
	}
	.agileits-special-info h4 a {
		font-size: 1.19em;
	}
	.w3ls-special-text h4 {
		padding-top: 4.8em;
	}
	.resp-tab-item {
		padding: 0.6em 1.4em;
	}
	.hvr-grow {
		font-size: 1.65em;
	}
	.contact-block-left textarea {
		height: 11em;
	}
	.main ul li {
		padding: 1.84em 0em;
	}
}

@media(max-width: 568px) {
	.agileits_service_grid_btm_left2 p {
		font-size: 0.9em;
	}
	.slider-info h3 {
		font-size: 1.15em;
		letter-spacing: 3px;
	}
	.navbar-brand {
		font-size: 1.2em;
	}
	.header-bottom {
		padding: 0.5em 0;
	}
	.w3l_header_left ul li span {
		padding-right: 0.5em;
	}
	.w3ls-social-icons i {
		font-size: 14px;
		width: 30px;
		height: 30px;
		line-height: 28px;
	}
	h5 a.view.rew3 {
		letter-spacing: 0px;
	}
	.agileits_service_grid_btm_left2 h5 {
		font-size: 1.4em;
	}
	.content-agileits {
		margin-top: 47em;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 1.9em;
		margin-bottom: 0.8em;
	}
	.text-desc h4 {
		font-size: 2em;
		margin: 0;
		margin-bottom: 0.5em;
	}
	.wel-grid {
		margin-top: 2.5em;
	}
	.wel-grid h4 {
		font-size: 1.5em;
	}
	.wel-grid p {
		font-size: 0.9em;
	}
	.agileits-special-info h4 a {
		font-size: 1.1em;
	}
	.agileits-special-info {
		padding: 2em 1.3em 2.5em;
	}
	.w3ls-special-text:after {
		width: 216px;
	}
	.portfolio-grids {
		width: 50%;
	}
}

@media(max-width: 480px) {
	.w3l_header_left ul li span {
		padding-right: 0.3em;
	}
	.w3l_header_left ul li {
		margin-right: 0.6em;
	}
	.w3ls-social-icons i {
		font-size: 13px;
		width: 28px;
		height: 28px;
		line-height: 27px;
	}
	.navbar-brand {
		font-size: 1.1em;
	}
	.navbar-toggle {
		padding: 8px 8px;
	}
	.header-bottom {
		padding: 0.2em 0;
	}
	.agileits_services_grids_bottom {
		bottom: -182%;
	}
	.slider-info h3 {
		font-size: 1.05em;
		letter-spacing: 3px;
	}
	h5 a.view.rew3 {
		padding: 0.8em 0em;
	}
	.agileits_service_grid_btm_left:nth-child(3),
	.agileits_service_grid_btm_left:nth-child(4) {
		margin-top: 1.5em !important;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 1.8em;
	}
	.port-7.effect-2 .text-desc {
		padding: 18px 10px 0;
	}
	.text-desc h4 {
		margin-bottom: 0.2em;
	}
	.wel-grid p {
		font-size: 0.85em;
	}
	.popular-grid h5 {
		font-size: 1.4em;
	}
	.popular-grid p {
		font-size: 0.9em;
		padding: 1.5em 0em 2.5em;
	}
	.w3ls-special-text:after {
		width: 175px;
	}
	.agileits-special-info h4 a {
		font-size: 1em;
	}
	.agileits-special-info p {
		line-height: 1.8em;
		margin: 1.2em 0 0 0;
	}
	.view {
		margin-top: 1em;
		width: 51%;
		font-size: 0.9em;
		padding: 8px;
	}
	.agileits-special-info {
		padding: 2em 1.3em 2em;
	}
	.team-grid {
		width: 100%;
	}
	.team-grid:nth-child(2),
	.team-grid:nth-child(3),
	.team-grid:nth-child(4),
	.team-grid:nth-child(5),
	.team-grid:nth-child(6) {
		margin: 2em 0 0 0;
	}
	.resp-tab-item {
		padding: 0.6em 1.3em;
		font-size: 0.9em;
		margin-left: 0.8em;
	}
	.resp-tabs-list {
		margin: 0 auto 1.5em;
	}
	.popular-w3,
	.special,
	.portfolio,
	.team-w3l,
	.contact {
		padding: 2.5em 0;
	}
	.contact-top p {
		width: 100%;
		font-size: 0.9em;
		line-height: 1.8;
	}
	.contact-block1 {
		width: 100%;
	}
	.social-w3 {
		width: 100%;
		margin-top: 2em;
	}
	.footer-w3l p {
		line-height: 1.9;
	}
}

@media(max-width: 414px) {
	.w3l_header_left ul li {
		font-size: 13px;
		margin-right: 2em;
		margin-left: 2em;
	}
	.w3l_header_right {
		float: left;
		width: 100%;
		margin-top: 1em;
		text-align: center;
	}
	.w3ls-social-icons i {
		font-size: 13px;
		width: 30px;
		height: 30px;
		line-height: 28px;
	}
	.navbar-brand {
		font-size: 1em;
	}
	.slider-info h3 {
		font-size: 1em;
		letter-spacing: 2px;
		padding: 3.2em 0em;
	}
	.agileits_services_grids_bottom {
		bottom: -174%;
	}
	.agileits_service_grid_btm_left2 h5 {
		font-size: 1.2em;
	}
	.agileits_service_grid_btm_left2 p {
		font-size: 0.85em;
	}
	.content-agileits {
		margin-top: 45em;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 1.7em;
	}
	.text-desc h4 {
		font-size: 1.85em;
	}
	.wel-grid h4 {
		font-size: 1.4em;
	}
	.popular-grid:nth-child(2),
	.popular-grid:nth-child(3) {
		margin-top: 2em;
	}
	.w3ls-special-text:after {
		width: 145px;
	}
	.w3ls-special-text h4 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.ih-item.circle.effect10.bottom_to_top .info h3 {
		letter-spacing: 1px;
	}
	.resp-tab-item {
		font-size: 0.85em;
		margin-left: 0.5em;
	}
	.portfolio-grids {
		width: 100%;
	}
	.contact-top p {
		font-size: 0.85em;
	}
	.popular-grid p {
		padding: 1em 0em 2em;
	}
}

@media(max-width: 384px) {
	.w3l_header_left ul li {
		margin-right: 1.8em;
		margin-left: 1.8em;
	}
	h5 a.view.rew3 {
		width: 35%;
		border-top: 4px solid #111;
		padding: 0.6em 0em;
		font-size: 0.85em;
	}
	.callbacks_nav.next {
		background: url(../images/right-arrow.png) no-repeat 23px 0px;
	}
	.slider-info h3 {
		font-size: 0.9em;
		letter-spacing: 2px;
		padding: 3em 0em;
	}
	.slider-info {
		width: 73%;
	}
	.agileits_service_grid_btm_left2 p {
		font-size: 0.75em;
		line-height: 1.8em;
	}
	.content-agileits {
		margin-top: 38em;
		padding-bottom: 2em;
	}
	.text-desc h4 {
		font-size: 1.65em;
	}
	.wel-grid h4 {
		font-size: 1.35em;
	}
	.w3ls-special-text:after {
		width: 127px;
	}
	.view {
		width: 63%;
		font-size: 0.85em;
	}
	.popular-grid p {
		padding: 1em 0em 1.5em;
		font-size: 0.85em;
	}
	.popular-grid h5 {
		font-size: 1.3em;
		padding: 1em 0.3em 0em;
	}
	.agileits_service_grid_btm_left {
		padding: 0px 5px;
	}
	.agileits_services_grids_bottom {
		bottom: -152%;
	}
	.agileits-special-info p {
		font-size: 0.85em;
	}
	.agileits-special-info h4 a {
		font-size: 0.9em;
		letter-spacing: 0px;
	}
	.agileits-special-info {
		padding: 1em 1.3em 1.5em;
	}
	ih-item.circle.effect10.bottom_to_top .info h3 {
		margin: 9.5em 0 1em 0;
		font-size: 1em;
	}
	.resp-tab-item {
		font-size: 0.8em;
		margin-left: 0.3em;
	}
}

@media(max-width: 375px) {
	.w3l_header_left ul li {
		margin-right: 1.5em;
		margin-left: 1.5em;
	}
}

@media(max-width: 320px) {
	.w3l_header_left ul li {
		margin-right: 0.5em;
		margin-left: 0.5em;
	}
	.w3ls-social-icons i {
		font-size: 13px;
		width: 28px;
		height: 28px;
		line-height: 27px;
	}
	.agileits_service_grid_btm_left2 p {
		font-size: 0.7em;
	}
	.agileits_service_grid_btm_left {
		padding: 0px 3px;
	}
	.agileits_services_grids_bottom {
		bottom: -169%;
	}
	.slider-info h3 {
		font-size: 0.8em;
		letter-spacing: 2px;
		padding: 2.8em 0em;
	}
	.slider-info {
		top: 24%;
	}
	h5 a.view.rew3 {
		width: 38%;
		border-top: 3px solid #111;
		font-size: 0.8em;
		bottom: -19%;
	}
	h2.w3-abo,
	h3.ser-w3,
	h3.blo-w3,
	.agileits-title h3,
	h3.title-w3,
	.contact-top h3 {
		font-size: 1.55em;
		margin-bottom: 0.7em;
	}
	.wel-grid h4 {
		font-size: 1.2em;
	}
	.wel-grid {
		margin-top: 1.5em;
	}
	.popular-w3,
	.special,
	.portfolio,
	.team-w3l,
	.contact {
		padding: 2em 0;
	}
	.popular-grid p {
		font-size: 0.8em;
	}
	.w3ls-special-text:after {
		width: 98px;
	}
	.w3ls-special-text h4 {
		font-size: 1.1em;
		letter-spacing: 0px;
		padding-top: 6.58em;
	}
	.agileits-special-info h4 a {
		font-size: 0.8em;
	}
	.agileits-special-info p {
		font-size: 0.8em;
	}
	.view {
		width: 76%;
	}
	.ih-item.circle.effect10.bottom_to_top .info h3 {
		margin: 9.5em 0 1em 0;
		font-size: 1em;
		letter-spacing: 0px;
	}
	.resp-tab-item {
		font-size: 0.75em;
		padding: 0.5em 0.9em;
	}
	.contact-block-left input[type="text"],
	.contact-block-left input[type="email"],
	.contact-block-left textarea {
		font-size: 0.9em;
		padding: 0.7em 1em;
	}
	.contact-block-left textarea {
		height: 10em;
	}
	.contact-block-left input[type="submit"] {
		font-size: 0.9em;
		width: 99%;
		padding: 0.9em 0;
	}
	.hvr-grow {
		font-size: 1.4em;
	}
	.footer-w3l p {
		font-size: 0.9em;
		letter-spacing: 1px;
		line-height: 1.8;
	}
	.navbar-toggle {
		padding: 7px 7px;
	}
	p {
		letter-spacing: 0px;
	}
}

.free-consultation {
	text-align: center;
	padding: 26px;
	color: #fff;
	background-color: #000;
	font-size: 22px;
}


/*--//responsive--*/